/*-Reset-Construction-*/
* { margin: 0; padding: 0; border: 0; box-sizing: border-box;}
body { width: 100%; height: 100%;}
body.lock {
    overflow: hidden;
}
header, nav, aside, footer { display: block;}
button, input, a { cursor: pointer;}
ul li { list-style: none;}

/*-Tech-Styles-*/
.body-text-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}
.body-text {
    margin-top: 10px;
    line-height: normal;
    width: 760px;
    font-size: 33.3px;
    font-family: "Poppins", sans-serif, Regular;
    text-align: center;
}
.sub-title {
    line-height: normal;
    font-size: 66.667px;
    font-family: "Poppins", sans-serif, SemiBold;
    font-weight: bold;
}
.fade-in {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}
.fade-in.fade-in-show {
    opacity: 1;
}

/*-Mobile-Classes-*/
.mobile-sub-title {
    line-height: 1;
    font-size: calc(20px + 17 * (100vw / 1440));
    font-family: "Poppins", sans-serif, SemiBold;
    font-weight: bold;
}
.mobile-body-text {
    font-size: calc(16px + 14 * (100vw / 1440));
    font-family: "Poppins", sans-serif, Regular;
    line-height: 1;
    margin-top: 3vh;
}

/*-Media-Queries-*/

/*-For-desktop-resolutions-and-above-*/
@media screen and (min-width: 1440px) {
    .main {
        padding-top: 120px;
        width: 100%;
        height: 100%;
        overflow: hidden;
    }
    .start {
        width: 100%;
        height: 780px;
        background-color: var(--banana-color);
    }
    .start-content {
        display: flex;
        max-width: 1160px;
        height: 100%;
        margin: 0 auto;
    }
    .start-text-wrapper {
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 60%;
    }
    .start-text-wrapper__start-title {
        font-size: 66.667px;
        font-family: "Poppins", sans-serif, SemiBold;
        color: var(--white-color);
        font-weight: bold;
        line-height: 1.2;
        text-align: left;
    }
    .start-text-wrapper__start-body-text {
        font-size: 29px;
        font-family: "Poppins", sans-serif, Regular;
        color: var(--white-color);
        line-height: 1.2;
        text-align: left;
        margin-top: 50px;
    }
    .start-content__dog-image {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 40%;
    }
    .buttons {
        width: 100%;
        height: 69px;
        margin-top: 50px;
    }
    .buttons__button:nth-of-type(1) {
        display: inline-flex;
        align-items: center;
        justify-content: center;

        font-size: 21px;
        font-family: "Poppins", sans-serif, SemiBold;
        color: var(--white-color);
        font-weight: bold;
        line-height: 1.2;

        border-radius: 7px;
        background-color: var(--turquoise-color);
        width: 182px;
        height: 69px;
    }
    .buttons__button:nth-of-type(2) {
        display: inline-flex;
        align-items: center;
        justify-content: center;

        font-size: 21px;
        font-family: "Poppins", sans-serif, SemiBold;
        color: var(--white-color);
        font-weight: bold;
        line-height: 1.2;

        border-width: 3px;
        border-color: var(--white-color);
        border-style: solid;
        border-radius: 7px;
        width: 182px;
        height: 69px;
        margin-left: 35px;
    }

    /*--------------------------------*/

    .first {
        width: 100%;
        height: 780px;
        background-color: var(--white-color);
    }
    .first-content {
        display: flex;
        max-width: 1160px;
        height: 100%;
        margin: 0 auto;
    }
    .first-text-wrapper {
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 50%;
    }
    .first-text-wrapper__first-title {
        font-size: 50px;
        font-family: "Poppins", sans-serif, SemiBold;
        color: var(--lightblack-color);
        font-weight: bold;
        line-height: 1.2;
        text-align: left;
    }
    .body-text-wrapper__first-body-text {
        font-size: 29px;
        font-family: "Poppins", sans-serif, Regular;
        color: var(--lightblack-color);
        line-height: 1.2;
        text-align: left;
        margin-top: 50px;
    }
    .first-content__dog-image {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        position: relative;
        width: 50%;
    }
    .dog-image {
        z-index: 1;
        margin-bottom: 30px;
        position: absolute;
        top: 120px;
        right: 0;
    }
    .empty-to-image1 {
        background-color: var(--banana-color);
        position: absolute;
        width: 252px;
        height: 206px;
        z-index: auto;
        right: 50%;
        top: 55%;
    }
    .first-button__button {
        display: inline-flex;
        align-items: center;
        justify-content: center;

        font-size: 21px;
        font-family: "Poppins", sans-serif, SemiBold;
        background-color: var(--banana-color);
        color: var(--white-color);
        font-weight: bold;
        line-height: 1.2;

        border-radius: 7px;
        width: 182px;
        height: 69px;
        margin-top: 50px;
    }

    /*--------------------------------*/

    .second {
        width: 100%;
        height: 1017px;
        background-color: var(--banana-color);
    }
    .second-content {
        display: flex;
        flex-direction: column;
        max-width: 1160px;
        height: 100%;
        margin: 0 auto;
    }
    .second-text-wrapper {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        height: 35%;
    }
    .second-text-wrapper__second-title {
        color: var(--white-color);
    }
    .body-text-wrapper__second-body-text {
        color: var(--white-color);
    }
    .cards {
        display: inline-flex;
        justify-content: space-between;
        height: 65%;
        width: 100%;
        min-width: 0;
    }
    .cards__card {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 342px;
        height: 525px;
    }
    .second-text-block {
        text-align: center;
        width: 100%;
    }
    .second-text-block__card-title {
        margin-top: 50px;
        font-size: 37.5px;
        font-family: "Poppins", sans-serif, SemiBold;
        color: rgb(255, 255, 255);
        font-weight: bold;
        line-height: 1.2;
        text-align: center;
    }
    .second-text-block__card-text {
        margin-top: 15px;
        font-size: 25px;
        font-family: "Poppins", sans-serif, Regular;
        color: rgb(255, 255, 255);
        line-height: 1.2;
        text-align: center;
    }
    .slider-controls {
        display: none;
    }
    /*--------------------------------*/

    .third {
        width: 100%;
        height: 780px;
        background-color: var(--white-color);
    }
    .third-content {
        display: flex;
        max-width: 1160px;
        height: 100%;
        margin: 0 auto;
    }
    .third-content__dog-image {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        position: relative;
        height: 100%;
        width: 50%;
    }
    .third-dog-image {
        z-index: 1;
        margin-bottom: 30px;
        position: absolute;
        top: 120px;
        left: 0;
    }
    .empty-to-image2 {
        background-color: var(--banana-color);
        position: absolute;
        width: 252px;
        height: 206px;
        z-index: auto;
        left: 50%;
        top: 55%;
    }
    .image-wrapper {
        margin-bottom: 20px;
    }
    .third-text-wrapper {
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 50%;
    }
    .third-text-wrapper__third-title {
        font-size: 50px;
        font-family: "Poppins", sans-serif, Regular;
        color: var(--lightblack-color);
        font-weight: bold;
        line-height: 1.2;
        text-align: right;
    }
    .third-text-wrapper__third-body-text {
        font-size: 29px;
        font-family: "Poppins", sans-serif, Regular;
        color: rgb(49, 50, 67);
        line-height: 1.2;
        text-align: right;
        margin-top: 50px;
    }
    .third-button {
        display: flex;
        justify-content: flex-end;
        margin-top: 50px;
    }
    .third-button__button {
        display: inline-flex;
        align-items: center;
        justify-content: center;

        font-size: 21px;
        font-family: "Poppins", sans-serif, SemiBold;
        color: var(--white-color);
        font-weight: bold;
        line-height: 1.2;

        border-radius: 7px;
        background-color: var(--banana-color);
        width: 182px;
        height: 69px;
    }

    /*--------------------------------*/

    .fourth {
        width: 100%;
        height: 1017px;
        background-color: var(--banana-color);
    }
    .fourth-content {
        display: flex;
        flex-direction: column;
        max-width: 1160px;
        height: 100%;
        margin: 0 auto;
    }
    .fourth-text-wrapper {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        height: 35%;
    }
    .fourth-text-wrapper__fourth-title {
        color: var(--white-color);
    }
    .body-text-wrapper__fourth-body-text {
        color: var(--white-color);
    }
    .cards {
        display: flex;
        justify-content: space-between;
        height: 65%;
    }
    .cards__card {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 342px;
        height: 525px;
    }
    .original-price {
        text-decoration: line-through;
        font-size: 41.667px;
        font-family: "Poppins", sans-serif, SemiBold;
        color: var(--white-color);
        font-weight: bold;
        line-height: 1.2;
    }
    .transparent-empty {
        color: transparent;
    }
    .discounted-price {
        margin-left: 25px;
        font-size: 41.667px;
        font-family: "Poppins", sans-serif, SemiBold;
        color: var(--white-color);
        font-weight: bold;
        line-height: 1.2;
    }
    .cards__buy {
        background-color: var(--turquoise-color);
        width: 199px;
        height: 60px;
        border-radius: 50px;
        font-size: 25px;
        font-family: "Poppins", sans-serif, SemiBold;
        color: var(--white-color);
        font-weight: bold;
        line-height: 1.2;
        text-align: center;
    }
    .fourth-slider-controls {
        display: none;
    }
    /*--------------------------------*/

    .fifth {
        width: 100%;
        height: 1017px;
        background-color: var(--white-color);
    }
    .fifth-content {
        display: flex;
        flex-direction: column;
        max-width: 1160px;
        height: 100%;
        margin: 0 auto;
    }
    .fifth-text-wrapper {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        height: 35%;
        padding-top: 32px;
    }
    .fifth-text-wrapper__fifth-title {
        color: var(--lightblack-color);
    }
    .body-text-wrapper__fifth-body-text {
        color: var(--lightblack-color);
    }
    .doctor-cards {
        display: flex;
        justify-content: space-between;
        height: 65%;
    }
    .doctor-cards__card {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 342px;
        height: 525px;
    }
    .doctors-text-block {

    }
    .doctors-text-block__card-title {
        margin-top: 20px;
        font-size: 29px;
        font-family: "Poppins", sans-serif, Bold;
        color: var(--lightblack-color);
        font-weight: bold;
        line-height: 1.2;
        text-align: center;
    }
    .doctors-text-block__card-text {
        margin-top: 20px;
        text-align: center;
        font-size: 25px;
        font-family: "Poppins", sans-serif, Regular;
        color: var(--lightblack-color);
        line-height: 1.2;
    }
    .contact-links {
        display: flex;
        justify-content: space-between;
        text-align: center;
        width: 184px;
        height: 35px;
    }
    .contact-links__link {
        filter: brightness(0);
    }

    .fifth-slider-controls {
        display: none;
    }

    /*--------------------------------*/

    .sixth {
        width: 100%;
        height: 575px;
        margin: 0;
        background-image: url("../../images/bg-image-for-statistic.png");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        background-color: var(--banana-color);
    }
    .sixth-content {
        max-width: 1160px;
        height: 100%;
        margin: 0 auto;
    }
    .sixth-sections-wrapper {
        display: flex;
        height: 100%;
    }
    .sixth-section {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 480px;
        height: 100%;
    }
    .section-wrapper {
        height: 40%;
        display: flex;
        flex-direction: column;
        margin: 0;
        align-items: center;
    }
    .sixth-section__statistic {
        font-size: 41.667px;
        font-family: "Poppins", sans-serif, Medium;
        color: var(--white-color);
        line-height: 1.2;
        margin-top: 50px;
    }
    .sixth-section__mark {
        font-size: 37.5px;
        font-family: "Poppins", sans-serif, Bold;
        color: var(--white-color);
        font-weight: bold;
        line-height: 1.2;
        margin-top: 20px;
    }

    /*--------------------------------*/

    .seventh {
        width: 100%;
        height: 1180px;
        background-color: var(--white-color);
    }
    .seventh-content {
        display: flex;
        flex-direction: column;
        max-width: 1160px;
        height: 100%;
        margin: 0 auto;
    }
    .seventh-text-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 35%;
        width: 100%;
        padding-top: 32px;
    }
    .seventh-text-wrapper__seventh-title {

        font-family: "Poppins", sans-serif, SemiBold;
        color: var(--lightblack-color);
        font-weight: bold;
        line-height: 1.2;
    }
    .seventh-text-wrapper__seventh-body-text {
        width: 60%;
        text-align: center;
        font-size: 33.333px;
        font-family: "Poppins", sans-serif, Regular;
        color: var(--lightblack-color);
        line-height: 1.2;
    }
    .seventh-cards {
        display: flex;
        justify-content: space-between;
        height: 65%;
        text-align: left;
    }
    .seventh-cards__seventh-card {
        position: relative;
        z-index: auto;
        display: flex;
        flex-direction: column;
        justify-content: initial;
        align-items: center;
        width: 342px;
        height: 78%;
    }
    .seventh-text-block {
        text-align: left;
        margin: 0;
        width: 80%;
        height: 100%;
    }
    .seventh-text-block__seventh-card-title {
        margin-top: 50px;
        height: 57px;
        font-size: 25px;
        font-family: "Poppins", sans-serif, SemiBold;
        color: var(--lightblack-color);
        font-weight: bold;
        line-height: 1.2;
    }
    .seventh-text-block__calendar {
        position: absolute;
        margin-top: 20px;
        font-size: 16.667px;
        font-family: "Poppins", sans-serif, Regular;
        color: var(--turquoise-color);
        line-height: 1.2;
    }
    .seventh-text-block__seventh-card-text {
        margin-top: 70px;
        font-size: 16.667px;
        font-family: "Poppins", sans-serif, Regular;
        color: var(--lightblack-color);
        line-height: 1.2;
    }
    .border-enable-style {
        border-width: 0 2px 2px 2px;
        border-color: var(--lightgray-color);
        border-style: solid;
        width: 362px;
        height: 88%;
        transition: 0.3s ease-in-out;
    }
    .seventh-text-block__info-link {
        margin-top: 30px;
        width: 100%;
        user-select: none;
        position: relative;
        display: block;
        cursor: pointer;
        font-size: 21px;
        font-family: "Poppins", sans-serif, Medium;
        color: var(--turquoise-color);
        line-height: 1.2;
    }
    .seventh-slider-controls {
        display: none;
    }
    /*---Footer-in-next-file------------*/
}

@media screen and (max-width: 1439px) and (min-width: 1024px) {
    .main {
        padding-top: 100px;
        width: 100%;
        height: 100%;
        overflow: hidden;
    }
    .start {
        width: 100%;
        height: 768px;
        background-color: var(--banana-color);
    }
    .start-content {
        display: flex;
        justify-content: space-between;
        max-width: 90.56%;
        height: 100%;
        margin: 0 auto;
    }
    .start-text-wrapper {
        width: 55%;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .start-text-wrapper__start-title {
        max-width: 100%;
        font-size: 5vw;
        font-family: "Poppins", sans-serif, SemiBold;
        color: var(--white-color);
        font-weight: bold;
        line-height: 1;
        text-align: left;
    }
    .start-text-wrapper__start-body-text {
        font-size: 20px;
        font-family: "Poppins", sans-serif, Regular;
        color: var(--white-color);
        line-height: 1.1;
        text-align: left;
        margin-top: 50px;
    }
    .start-content__dog-image {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 45%;
    }
    .start-content__dog-image > img {
        max-height: 80%;
        max-width: 80%;
    }
    .buttons {
        width: 100%;
        height: 69px;
        margin-top: 50px;
    }
    .buttons__button:nth-of-type(1) {
        display: inline-flex;
        align-items: center;
        justify-content: center;

        font-size: 21px;
        font-family: "Poppins", sans-serif, SemiBold;
        color: var(--white-color);
        font-weight: bold;
        line-height: 1.2;

        border-radius: 7px;
        background-color: var(--turquoise-color);
        width: 182px;
        height: 69px;
    }
    .buttons__button:nth-of-type(2) {
        display: inline-flex;
        align-items: center;
        justify-content: center;

        font-size: 21px;
        font-family: "Poppins", sans-serif, SemiBold;
        color: var(--white-color);
        font-weight: bold;
        line-height: 1.2;

        border-width: 3px;
        border-color: var(--white-color);
        border-style: solid;
        border-radius: 7px;
        width: 182px;
        height: 69px;
        margin-left: 35px;
    }


}

@media screen and (max-width: 1023px) {
    .main {
        padding-top: 70px;
        width: 100%;
        height: 100%;
        overflow: hidden;
    }
    .start {
        width: 100%;
        height: 100%;
        background-color: var(--banana-color);
    }
    .start-content {
        display: flex;
        flex-direction: column;
        max-width: 90.56%;
        height: 100%;
        margin: 0 auto;
    }
    .start-text-wrapper {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-top: 4vh;
    }
    .start-text-wrapper__start-title {
        max-width: 90%;
        font-size: 8vw;
        font-family: "Poppins", sans-serif, SemiBold;
        color: var(--white-color);
        font-weight: bold;
        line-height: 1;
        text-align: left;
    }
    .start-text-wrapper__start-body-text {
        font-size: calc(16px + 14 * (100vw / 1440));
        font-family: "Poppins", sans-serif, Regular;
        line-height: 1.2;
        color: var(--white-color);
        text-align: left;
        width: 80%;
        margin-top: 20px;
    }
    .start-content__dog-image {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;

        margin-top: 4vh;
    }
    .start-content__dog-image > img {
        max-height: 100%;
        max-width: 100%;
    }
    .buttons {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-top: 20px;
    }
    .buttons__button:nth-of-type(1) {
        display: flex;
        align-items: center;
        justify-content: center;

        font-size: calc(14px + 16 * (100vw / 1440));
        font-family: "Poppins", sans-serif, SemiBold;
        color: var(--white-color);
        font-weight: bold;
        line-height: 1.2;

        border-radius: 7px;
        background-color: var(--turquoise-color);
        width: 100%;
        height: 7vh;
    }
    .buttons__button:nth-of-type(2) {
        display: flex;
        align-items: center;
        justify-content: center;

        font-size: calc(14px + 16 * (100vw / 1440));
        font-family: "Poppins", sans-serif, SemiBold;
        color: var(--white-color);
        font-weight: bold;
        line-height: 1.2;

        margin-top: 2vh;
        border-width: 3px;
        border-color: var(--white-color);
        border-style: solid;
        border-radius: 7px;
        width: 100%;
        height: 7vh;
    }
    .buttons__button:last-child {
        margin-bottom: 0;
    }

    /*--------------------------------*/

    .first {
        width: 100%;
        height: 100%;
        background-color: var(--white-color);
    }
    .first-content {
        display: flex;
        flex-direction: column;
        max-width: 90.56%;
        height: 100%;
        margin: 0 auto;
        padding: 4vh 0 7vh 0;
    }
    .first-text-wrapper {
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: left;
        width: 100%;
    }
    .first-text-wrapper__first-title {
        width: 100%;
        text-align: left;
        color: var(--lightblack-color);
    }
    .body-text-wrapper__first-body-text {
        color: var(--lightblack-color);
        width: 100%;
        margin-top: 3vh;
    }
    .first-content__dog-image {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        position: relative;
        width: 100%;
    }
    .dog-image {
        z-index: 1;
        width: 100%;
        height: 100%;
        margin-top: 4vh;
    }
    .empty-to-image1 {
        background-color: var(--banana-color);
        position: absolute;
        width: 58%;
        height: 50%;
        z-index: auto;
        right: 0;
        top: 55%;
    }
    .first-button__button {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        font-size: calc(14px + 16 * (100vw / 1440));
        font-family: "Poppins", sans-serif, SemiBold;
        background-color: var(--banana-color);
        color: var(--white-color);
        font-weight: bold;
        line-height: 1.2;

        border-radius: 7px;
        width: 100%;
        height: 7vh;
        margin-top: 4vh;
    }

    /*--------------------------------*/

    .second {
        width: 100%;
        height: 100%;
        background-color: var(--banana-color);
    }
    .second-content {
        display: flex;
        flex-direction: column;
        max-width: 90.56%;
        height: 100%;
        overflow: hidden;
        margin: 0 auto;
        padding: 4vh 0 4vh 0;
    }
    .second-text-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
    }
    .second-text-wrapper__second-title {
        color: var(--white-color);
    }
    .body-text-wrapper__second-body-text {
        color: var(--white-color);
    }
    .cards {
        display: inline-flex;
        justify-content: space-between;
        height: 100%;
        width: auto;
        min-width: 0;
        margin-top: 4vh;
    }
    .cards__card {
        flex: 1 0 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        transition: opacity 0.3s ease-in-out;
        opacity: 0;
    }
    .cards__card.show {
        opacity: 1;
    }
    .cards__card > img {
        width: 100%;
        height: 100%;
    }
    .second-text-block {
        text-align: center;
        width: 100%;
        margin-top: 4vh;
    }
    .second-text-block__card-title {
        color: var(--white-color)
    }
    .second-text-block__card-text {
        color: var(--white-color);
    }

    .slider-controls {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
        height: 5vh;
        margin-top: 4vh;
    }
    .previous-button,
    .next-button {
        background-color: var(--gold-color);
        color: var(--white-color);
        font-size: 24px;
        width: 15%;
        height: 100%;
    }
    .previous-button:focus,
    .next-button:focus {
        background-color: var(--turquoise-color);
    }

    /*--------------------------------*/

    .third {
        width: 100%;
        height: 100%;
        background-color: var(--white-color);
    }
    .third-content {
        display: flex;
        flex-direction: column;
        max-width: 90.56%;
        height: 100%;
        margin: 0 auto;
        padding: 4vh 0 7vh 0;
    }
    .third-text-wrapper {
        display: flex;
        align-items: flex-end;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        margin-top: 6vh;
    }
    .third-text-wrapper__third-title {
        color: var(--lightblack-color);
        text-align: right;
        width: 100%;
    }
    .body-text-wrapper__third-body-text {
        color: var(--lightblack-color);
        text-align: right;
        width: 100%;
    }
    .third-content__dog-image {
        display: flex;
        justify-content: flex-start;
        position: relative;
        width: 100%;
    }
    .third-dog-image {
        z-index: 1;
        width: 100%;
        height: 100%;
    }
    .empty-to-image2 {
        background-color: var(--banana-color);
        position: absolute;
        width: 58%;
        height: 50%;
        z-index: auto;
        left: 0;
        top: 55%;
    }
    .third-button {
        width: 100%;
    }
    .third-button__button {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        font-size: calc(14px + 16 * (100vw / 1440));
        font-family: "Poppins", sans-serif, SemiBold;
        background-color: var(--banana-color);
        color: var(--white-color);
        font-weight: bold;
        line-height: 1.2;

        border-radius: 7px;
        width: 100%;
        height: 7vh;
        margin-top: 4vh;
    }

    /*--------------------------------*/

    .fourth {
        width: 100%;
        height: 100%;
        background-color: var(--banana-color);
    }
    .fourth-content {
        display: flex;
        flex-direction: column;
        max-width: 90.56%;
        height: 100%;
        overflow: hidden;
        margin: 0 auto;
        padding: 4vh 0 4vh 0;
    }
    .fourth-text-wrapper {
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 100%;
    }
    .fourth-text-wrapper__fourth-title {
        color: var(--white-color);
    }
    .body-text-wrapper__fourth-body-text {
        color: var(--white-color);
    }
    .cards {
        display: inline-flex;
        justify-content: space-between;
        height: 100%;
        width: auto;
        min-width: 0;
        margin-top: 4vh;
    }
    .cards__card {
        flex: 1 0 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        transition: opacity 0.3s ease-in-out;
        opacity: 0;
    }
    .cards__price {
        height: 7vh;
        display: flex;
        align-items: center;
    }
    .original-price {
        text-decoration: line-through;
        font-size: calc(20px + 17 * (100vw / 1440));
        font-family: "Poppins", sans-serif, SemiBold;
        color: var(--white-color);
        font-weight: bold;
        line-height: 1.2;
    }
    .transparent-empty {
        color: transparent;
    }
    .discounted-price {
        margin-left: 4vw;
        font-size: calc(20px + 17 * (100vw / 1440));
        font-family: "Poppins", sans-serif, SemiBold;
        color: var(--white-color);
        font-weight: bold;
        line-height: 1.2;
    }
    .cards__buy {
        background-color: var(--turquoise-color);
        width: 50%;
        height: 7vh;
        border-radius: 50px;
        font-size: calc(20px + 17 * (100vw / 1440));
        font-family: "Poppins", sans-serif, SemiBold;
        color: var(--white-color);
        font-weight: bold;
        line-height: 1.2;
        text-align: center;
    }
    .cards__card.show {
        opacity: 1;
    }
    .cards__card > img {
        width: 100%;
        height: 100%;
    }
    .fourth-text-wrapper {
        text-align: center;
        width: 100%;

    }


    .fourth-slider-controls {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
        height: 5vh;
        margin-top: 4vh;
    }
    .fourth-slider-controls__previous-button,
    .fourth-slider-controls__next-button {
        background-color: var(--gold-color);
        color: var(--white-color);
        font-size: 24px;
        width: 15%;
        height: 100%;
    }
    .fourth-slider-controls__previous-button:focus,
    .fourth-slider-controls__next-button:focus {
        background-color: var(--turquoise-color);
    }

    /*--------------------------------*/

    .fifth {
        width: 100%;
        height: 100%;
        background-color: var(--white-color);
    }
    .fifth-content {
        display: flex;
        flex-direction: column;
        max-width: 90.56%;
        height: 100%;
        overflow: hidden;
        margin: 0 auto;
        padding: 4vh 0 4vh 0;
    }
    .fifth-text-wrapper {
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        width: 100%;
    }
    .doctor-cards {
        display: inline-flex;
        justify-content: space-between;
        height: 100%;
        width: auto;
        min-width: 0;
        margin-top: 4vh;
    }
    .cards__card {
        flex: 1 0 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        transition: opacity 0.3s ease-in-out;
        opacity: 0;

    }
    .cards__card.show {
        opacity: 1;
    }
    .cards__card > img {
        width: 100%;
        height: 100%;
    }
    .doctors-text-block {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 3vh 0 3vh 0;
    }
    .doctors-text-block__card-title {
        line-height: 1;
        font-size: 6vw;
        font-family: "Poppins", sans-serif, SemiBold;
        font-weight: bold;
    }
    .doctors-text-block__card-text {
        font-size: calc(16px + 14 * (100vw / 1440));
        font-family: "Poppins", sans-serif, Regular;
        line-height: 1;
        margin-top: 3vh;
    }
    .contact-links {
        display: flex;
        justify-content: space-evenly;
        text-align: center;
        width: 70vw;
        height: 5vh;
    }
    .contact-links__link {
        filter: brightness(0);
    }
    .fifth-slider-controls {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        height: 5vh;
        margin-top: 4vh;
    }
    .fifth-slider-controls__previous-button,
    .fifth-slider-controls__next-button {
        background-color: var(--gold-color);
        color: var(--white-color);
        font-size: 3vh;
        width: 15%;
        height: 100%;
    }
    .fifth-slider-controls__previous-button:focus,
    .fifth-slider-controls__next-button:focus {
        background-color: var(--lightblack-color);
    }

    /*--------------------------------*/

    .sixth {
        width: 100%;
        height: 100%;
        margin: 0;
        background-image: url("../../images/bg-image-for-statistic.png");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-color: var(--banana-color);
    }
    .sixth-content {
        max-width: 90.56%;
        height: 100%;
        overflow: hidden;
        margin: 0 auto;
    }
    .sixth-sections-wrapper {
        display: flex;
        justify-content: space-between;
        height: 100%;
        width: 100%;
        animation: slide-animation 10s linear infinite;
    }
    @keyframes slide-animation {
        0% {
            transform: translateX(100vw);
        }
        100% {
            transform: translateX(-150vw);
        }
    }
    .sixth-section {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        margin-left: 5vw;
    }
    .section-wrapper {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0;
        padding: 4vh 0 4vh 0;
    }
    .sixth-section__statistic {
        font-size: 6vw;
        font-family: "Poppins", sans-serif, Medium;
        color: var(--white-color);
        line-height: 1.2;
        margin-top: 3vh;
    }
    .sixth-section__mark {
        width: 44vw;
        font-size: 6vw;
        text-align: center ;
        font-family: "Poppins", sans-serif, Bold;
        color: var(--white-color);
        font-weight: bold;
        line-height: 1.2;
        margin-top: 20px;
    }

    /*--------------------------------*/

    .seventh {
        width: 100%;
        height: 100%;
        background-color: var(--white-color);
    }
    .seventh-content {
        display: flex;
        flex-direction: column;
        max-width: 90.56%;
        height: 100%;
        overflow: hidden;
        margin: 0 auto;
        padding: 4vh 0 4vh 0;
    }
    .seventh-text-wrapper {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        height: 35%;
        padding: 4vh 0;
    }
    .seventh-text-wrapper__seventh-title {
        color: var(--lightblack-color);
    }
    .seventh-text-wrapper__seventh-body-text {
        color: var(--lightblack-color);
    }
    .seventh-cards {
        display: inline-flex;
        justify-content: space-between;
        height: 100%;
        width: auto;
        min-width: 0;
        margin-top: 4vh;
    }
    .seventh-cards__seventh-card {
        flex: 1 0 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        transition: opacity 0.3s ease-in-out;
        opacity: 0;
    }
    .cards__card.show {
        opacity: 1;
    }
    .cards__card > img {
        width: 100%;
        height: 100%;
    }
    .seventh-text-block {
        width: 90%;
        height: 100%;
        display: flex;
        flex-direction: column;
        text-align: left;
        padding: 3vh 0 3vh 0;
    }
    .seventh-text-block__seventh-card-title {
        line-height: 1;
        font-size: 6vw;
        font-family: "Poppins", sans-serif, SemiBold;
        font-weight: bold;
    }
    .seventh-text-block__seventh-card-text {
        font-size: calc(16px + 14 * (100vw / 1440));
        font-family: "Poppins", sans-serif, Regular;
        line-height: 1;
        margin-top: 3vh;
    }
    .seventh-text-block__calendar {
        text-align: left;
        width: 100%;
        font-size: calc(16px + 14 * (100vw / 1440));
        font-family: "Poppins", sans-serif, Regular;
        color: var(--turquoise-color);
        line-height: 1;
        margin-top: 3vh;
    }
    .seventh-text-block__info-link {
        text-align: left;
        width: 100%;
        font-size: calc(16px + 14 * (100vw / 1440));
        font-family: "Poppins", sans-serif, Regular;
        color: var(--turquoise-color);
        line-height: 1;
        margin-top: 3vh;
    }
    .border-enable-style {

        border-width: 0 2px 2px 2px;
        border-color: var(--lightgray-color);
        border-style: solid;
        width: 100%;
        height: 88%;
        transition: 0.3s ease-in-out;
    }
    .seventh-slider-controls {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        height: 5vh;
        margin-top: 4vh;
    }
    .seventh-slider-controls__previous-button,
    .seventh-slider-controls__next-button {
        background-color: var(--gold-color);
        color: var(--white-color);
        font-size: 3vh;
        width: 15%;
        height: 100%;
    }
    .seventh-slider-controls__previous-button:focus,
    .seventh-slider-controls__next-button:focus {
        background-color: var(--turquoise-color);
    }
}