/*-Reset-Construction-*/
* { margin: 0; padding: 0; border: 0; box-sizing: border-box;}
body { width: 100%; height: 100%;}
header, nav, aside, footer { display: block;}
button, input, a { cursor: pointer;}
ul li { list-style: none;}
/*-Media-Queries-*/

/*-For-desktop-resolutions-and-above-*/
@media screen and (min-width: 1440px) {
    .main {
        width: 100%;
        height: 100%;
        overflow: hidden;
    }
    .start {
        width: 100%;
        height: 780px;
        background-color: var(--banana-color);
    }
    .start-content {
        display: flex;
        max-width: 1160px;
        height: 100%;
        margin: 0 auto;
    }
    .text-wrapper {
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 60%;
    }
    .text-wrapper__title {
        font-size: 66.667px;
        font-family: "Poppins", sans-serif, SemiBold;
        color: var(--white-color);
        font-weight: bold;
        line-height: 1.2;
        text-align: left;
    }
    .text-wrapper__notation {
        font-size: 29px;
        font-family: "Poppins", sans-serif, Regular;
        color: var(--white-color);
        line-height: 1.2;
        text-align: left;
        margin-top: 50px;
    }
    .start-content__dog-image {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 40%;
    }
    .buttons {
        width: 100%;
        height: 69px;
        margin-top: 50px;
    }
    .buttons__button:nth-of-type(1) {
        display: inline-flex;
        align-items: center;
        justify-content: center;

        font-size: 21px;
        font-family: "Poppins", sans-serif, SemiBold;
        color: var(--white-color);
        font-weight: bold;
        line-height: 1.2;

        border-radius: 7px;
        background-color: var(--turquoise-color);
        width: 182px;
        height: 69px;
    }
    .buttons__button:nth-of-type(2) {
        display: inline-flex;
        align-items: center;
        justify-content: center;

        font-size: 21px;
        font-family: "Poppins", sans-serif, SemiBold;
        color: var(--white-color);
        font-weight: bold;
        line-height: 1.2;

        border-width: 3px;
        border-color: var(--white-color);
        border-style: solid;
        border-radius: 7px;
        width: 182px;
        height: 69px;
        margin-left: 35px;
    }

    /*--------------------------------*/

    .first {
        width: 100%;
        height: 780px;
        background-color: var(--white-color);
    }
    .first-content {
        display: flex;
        max-width: 1160px;
        height: 100%;
        margin: 0 auto;
    }
    .first-text-wrapper {
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 50%;
    }
    .first-text-wrapper__first-title {
        font-size: 50px;
        font-family: "Poppins", sans-serif, SemiBold;
        color: var(--lightblack-color);
        font-weight: bold;
        line-height: 1.2;
        text-align: left;
    }
    .first-text-wrapper__body-text{
        font-size: 29px;
        font-family: "Poppins", sans-serif, Regular;
        color: var(--lightblack-color);
        line-height: 1.2;
        text-align: left;
        margin-top: 50px;
    }
    .first-content__dog-image {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        position: relative;
        width: 50%;
    }
    .dog-image {
        z-index: 1;
        margin-bottom: 30px;
        position: absolute;
        top: 120px;
        right: 0;
    }
    .empty-to-image1 {
        background-color: var(--banana-color);
        position: absolute;
        width: 252px;
        height: 206px;
        z-index: auto;
        right: 50%;
        top: 55%;
    }
    .first-button__button {
        display: inline-flex;
        align-items: center;
        justify-content: center;

        font-size: 21px;
        font-family: "Poppins", sans-serif, SemiBold;
        background-color: var(--banana-color);
        color: var(--white-color);
        font-weight: bold;
        line-height: 1.2;

        border-radius: 7px;
        width: 182px;
        height: 69px;
        margin-top: 50px;
    }

    /*--------------------------------*/

    .second {
        width: 100%;
        height: 1017px;
        background-color: var(--banana-color);
    }
    .second-content {
        display: flex;
        flex-direction: column;
        max-width: 1160px;
        height: 100%;
        margin: 0 auto;
    }
    .second-text-wrapper {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        height: 35%;
        padding-top: 32px;
    }
    .second-text-wrapper__second-title {
        margin-bottom: 50px;
        font-size: 14px;
        font-family: "Poppins", sans-serif, Bold;
        color: var(--white-color);
        font-weight: bold;
        line-height: 1.2;
        -moz-transform: matrix( 5.3,0,6.4e-16,5.29,0,0);
        -webkit-transform: matrix( 5.3,0,6.4e-16,5.286,0,0);
        -ms-transform: matrix( 5.3,0,6.4e-16,5.3,0,0);
    }
    .second-text-wrapper__second-body-text {
        width: 640px;
        margin: 0 auto;
        font-size: 33.333px;
        font-family: "Poppins", sans-serif, Regular;
        color: var(--white-color);
        line-height: 1.2;
        text-align: center;
    }
    .cards {
        display: flex;
        justify-content: space-between;
        height: 65%;
    }
    .cards__card {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 342px;
        height: 525px;
    }
    .text-block {
        text-align: center;
        margin-top: 50px;
    }
    .text-block__card-title {
        font-size: 37.5px;
        font-family: "Poppins", sans-serif, SemiBold;
        color: rgb(255, 255, 255);
        font-weight: bold;
        line-height: 1.2;
        text-align: center;
    }
    .text-block__card-text {
        margin-top: 15px;
        font-size: 25px;
        font-family: "Poppins", sans-serif, Regular;
        color: rgb(255, 255, 255);
        line-height: 1.2;
        text-align: center;
    }

    /*--------------------------------*/

    .third {
        width: 100%;
        height: 780px;
        background-color: var(--white-color);
    }
    .third-content {
        display: flex;
        max-width: 1160px;
        height: 100%;
        margin: 0 auto;
    }
    .third-content__dog-image {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        position: relative;
        height: 100%;
        width: 50%;
    }
    .third-dog-image {
        z-index: 1;
        margin-bottom: 30px;
        position: absolute;
        top: 120px;
        left: 0;
    }
    .empty-to-image2 {
        background-color: var(--banana-color);
        position: absolute;
        width: 252px;
        height: 206px;
        z-index: auto;
        left: 50%;
        top: 55%;
    }
    .image-wrapper {
        margin-bottom: 20px;
    }
    .third-text-wrapper {
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 50%;
    }
    .third-text-wrapper__title {
        font-size: 50px;
        font-family: "Poppins", sans-serif, Regular;
        color: var(--lightblack-color);
        font-weight: bold;
        line-height: 1.2;
        text-align: right;
        -moz-transform: matrix( 1,0,0,0.99716920778623,0,0);
        -webkit-transform: matrix( 1,0,0,0.99716920778623,0,0);
        -ms-transform: matrix( 1,0,0,0.99716920778623,0,0);
    }
    .third-text-wrapper__body-text {
        font-size: 29px;
        font-family: "Poppins", sans-serif, Regular;
        color: rgb(49, 50, 67);
        line-height: 1.2;
        text-align: right;
        -moz-transform: matrix( 0.99924899427418,0,0,1.00366054187998,0,0);
        -webkit-transform: matrix( 0.99924899427418,0,0,1.00366054187998,0,0);
        -ms-transform: matrix( 0.99924899427418,0,0,1.00366054187998,0,0);
        margin-top: 50px;
    }
    .third-button {
        display: flex;
        justify-content: flex-end;
        margin-top: 50px;
    }
    .third-button__button {
        display: inline-flex;
        align-items: center;
        justify-content: center;

        font-size: 21px;
        font-family: "Poppins", sans-serif, SemiBold;
        color: var(--white-color);
        font-weight: bold;
        line-height: 1.2;

        border-radius: 7px;
        background-color: var(--banana-color);
        width: 182px;
        height: 69px;
    }

    /*--------------------------------*/

    .fourth {
        width: 100%;
        height: 1017px;
        background-color: var(--banana-color);
    }
    .fourth-content {
        display: flex;
        flex-direction: column;
        max-width: 1160px;
        height: 100%;
        margin: 0 auto;
    }
    .fourth-text-wrapper {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        height: 35%;
        padding-top: 32px;
    }
    .fourth-text-wrapper__fourth-title {
        margin-bottom: 50px;
        font-size: 14px;
        font-family: "Poppins", sans-serif, Bold;
        color: var(--white-color);
        font-weight: bold;
        line-height: 1.2;
        -moz-transform: matrix( 5.3,0,6.4e-16,5.29,0,0);
        -webkit-transform: matrix( 5.3,0,6.4e-16,5.286,0,0);
        -ms-transform: matrix( 5.3,0,6.4e-16,5.3,0,0);
    }
    .fourth-text-wrapper__fourth-body-text {
        width: 640px;
        margin: 0 auto;
        font-size: 29px;
        font-family: "Poppins", sans-serif, Regular;
        line-height: 1.2;
        color: var(--white-color);
        text-align: center;
    }
    .cards {
        display: flex;
        justify-content: space-between;
        height: 65%;
    }
    .cards__card {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 342px;
        height: 525px;
    }
    .original-price {
        text-decoration: line-through;
        font-size: 41.667px;
        font-family: "Poppins", sans-serif, SemiBold;
        color: var(--white-color);
        font-weight: bold;
        line-height: 1.2;
    }
    .transparent-empty {
        color: transparent;
    }
    .discounted-price {
        margin-left: 25px;
        font-size: 41.667px;
        font-family: "Poppins", sans-serif, SemiBold;
        color: var(--white-color);
        font-weight: bold;
        line-height: 1.2;
    }
    .cards__buy {
        background-color: var(--turquoise-color);
        width: 199px;
        height: 60px;
        border-radius: 50px;
        font-size: 25px;
        font-family: "Poppins", sans-serif, SemiBold;
        color: var(--white-color);
        font-weight: bold;
        line-height: 1.2;
        text-align: center;
    }

    /*--------------------------------*/

    .fifth {
        width: 100%;
        height: 1017px;
        background-color: var(--white-color);
    }
    .fifth-content {
        display: flex;
        flex-direction: column;
        max-width: 1160px;
        height: 100%;
        margin: 0 auto;
    }
    .fifth-text-wrapper {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        height: 35%;
        padding-top: 32px;
    }
    .fifth-text-wrapper__fifth-title {
        margin-bottom: 50px;
        font-size: 14px;
        font-family: "Poppins", sans-serif, SemiBold;
        color: var(--lightblack-color);
        line-height: 1.2;
        -moz-transform: matrix( 5.29297965376733,0,6.39650818556493e-16,5.28600220842876,0,0);
        -webkit-transform: matrix( 5.29297965376733,0,6.39650818556493e-16,5.28600220842876,0,0);
        -ms-transform: matrix( 5.29297965376733,0,6.39650818556493e-16,5.28600220842876,0,0);
    }
    .fifth-text-wrapper__fifth-body-text {
        width: 640px;
        margin: 0 auto;
        font-size: 33.333px;
        font-family: "Poppins", sans-serif, Regular;
        color: rgb(49, 50, 67);
        line-height: 1.2;
    }
    .doctor-cards {
        display: flex;
        justify-content: space-between;
        height: 65%;
    }
    .doctor-cards__card {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 342px;
        height: 525px;
    }
    .doctors-text-block {

    }
    .doctors-text-block__card-title3 {
        margin-top: 20px;
        font-size: 29px;
        font-family: "Poppins", sans-serif, Bold;
        color: var(--lightblack-color);
        font-weight: bold;
        line-height: 1.2;
        text-align: center;
        -moz-transform: matrix( 5.29297965376733,0,6.39650818556493e-16,5.28600220842876,0,0);
        -webkit-transform: matrix( 5.29297965376733,0,6.39650818556493e-16,5.28600220842876,0,0);
        -ms-transform: matrix( 5.29297965376733,0,6.39650818556493e-16,5.28600220842876,0,0);
    }
    .doctors-text-block__card-text3 {
        margin-top: 20px;
        text-align: center;
        font-size: 25px;
        font-family: "Poppins", sans-serif, Regular;
        color: var(--lightblack-color);
        line-height: 1.2;
    }
    .contact-links {
        display: flex;
        justify-content: space-between;
        text-align: center;
        width: 184px;
        height: 35px;
    }
    .contact-links__link {
        filter: brightness(0);
    }

    /*--------------------------------*/

    .sixth {
        width: 100%;
        height: 575px;
        margin: 0;
        background-image: url("../../images/bg-image-for-statistic.png");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        background-color: var(--banana-color);
    }
    .sixth-content {
        max-width: 1160px;
        height: 100%;
        margin: 0 auto;
    }
    .sixth-text-wrapper__sixth-title {
        font-size: 50px;
        font-family: "Poppins", sans-serif, SemiBold;
        color: var(--lightblack-color);
        font-weight: bold;
        line-height: 1.2;
        text-align: left;
    }
    .sixth-sections-wrapper {
        display: flex;
        height: 100%;
    }
    .sixth-section {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 480px;
        height: 100%;
    }
    .section-wrapper {
        height: 40%;
        display: flex;
        flex-direction: column;
        margin: 0;
        align-items: center;
    }
    .sixth-section__statistic {
        font-size: 41.667px;
        font-family: "Poppins", sans-serif, Medium;
        color: var(--white-color);
        line-height: 1.2;
        margin-top: 50px;
    }
    .sixth-section__mark {
        font-size: 37.5px;
        font-family: "Poppins", sans-serif, Bold;
        color: var(--white-color);
        font-weight: bold;
        line-height: 1.2;
        margin-top: 20px;
    }

    /*--------------------------------*/

    .eight {
        width: 100%;
        height: 1180px;
        background-color: var(--white-color);
    }
    .eight-content {
        display: flex;
        flex-direction: column;
        max-width: 1160px;
        height: 100%;
        margin: 0 auto;
    }
    .eight-text-wrapper {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        height: 35%;
        padding-top: 32px;
    }
    .eight-text-wrapper__eight-title {
        margin-bottom: 50px;
        font-size: 14px;
        font-family: "Poppins", sans-serif, Bold;
        color: var(--lightblack-color);
        font-weight: bold;
        line-height: 1.2;
        -moz-transform: matrix( 5.3,0,6.4e-16,5.29,0,0);
        -webkit-transform: matrix( 5.3,0,6.4e-16,5.286,0,0);
        -ms-transform: matrix( 5.3,0,6.4e-16,5.3,0,0);
    }
    .eight-text-wrapper__eight-body-text {
        width: 640px;
        margin: 0 auto;
        font-size: 33.333px;
        font-family: "Poppins", sans-serif, Regular;
        color: var(--lightblack-color);
        line-height: 1.2;
        text-align: center;
    }
    .eight-cards {
        display: flex;
        justify-content: space-between;
        height: 100%;
        text-align: left;
    }
    .eight-cards__eight-card {
        position: relative;
        z-index: auto;
        display: flex;
        flex-direction: column;
        justify-content: initial; /* или justify-content: unset; */
        align-items: center;
        width: 342px;
        height: 78%;
    }
    .text-block {
        text-align: left;
        margin: 0;
        width: 80%;
    }
    .text-block__eight-card-title {
        margin-top: 50px;
        height: 57px;
        font-size: 25px;
        font-family: "Poppins", sans-serif, SemiBold;
        color: rgb(49, 50, 67);
        font-weight: bold;
        line-height: 1.2;
    }
    .text-block__calendar {
        position: absolute;
        margin-top: 20px;
        font-size: 16.667px;
        font-family: "Poppins", sans-serif, Regular;
        color: rgb(0, 190, 201);
        line-height: 1.2;
    }

    .text-block__eight-card-text {
        margin-top: 70px;
        font-size: 16.667px;
        font-family: "Poppins", sans-serif, Regular;
        color: var(--lightblack-color);
        line-height: 1.2;
    }

    .border-enable-style {
        border-width: 0px 2px 2px 2px;
        border-color: rgb(214, 214, 214);
        border-style: solid;
        width: 362px;
    }



    .collapse {
        margin-top: 30px;
        overflow: hidden;
        position: absolute;
        top: 87%;
        width: 80%;
    }
    .collapse label {
        z-index: 1;
        user-select: none;
        position: relative;
        display: block;
        cursor: pointer;
        font-size: 21px;
        font-family: "Poppins", sans-serif, Medium;
        color: rgb(0, 190, 201);
        line-height: 1.2;
    }

    .collapse label:after {
        content: "+";

    }
    .col-content {
        background-color: mediumpurple;
        
        height: 80px;
        overflow: hidden;
        max-height: 1px;
        position: relative;
        transition: 0.3s;
    }
    .col-content p {
        padding-top: 10px;
        font-size: 16.667px;
        font-family: "Poppins", sans-serif, Regular;
        color: rgb(49, 50, 67);
        line-height: 1.2;
        text-align: left;

    }

    .collapse input:checked ~ .col-content {
        max-height: 100px;
    }

    .collapse input:checked + label:after {
        content: "-";
    }
    .collapse input:not(:checked) + label:after {
        content: "+";
    }

    .collapse input {
        display: none;
    }

    .footer {
        height: 575px;
        background-color: var(--lightblack-color);
    }
}