/*-Reset-Construction-*/
* { margin: 0; padding: 0; border: 0; box-sizing: border-box;}
body { width: 100%; height: 100%;}
header, nav, aside, footer { display: block;}
button, input, a { cursor: pointer;}
ul li { list-style: none;}
/*-Variables-*/
:root {
    /* using : color: var(--crimson-color); */
    --crimson-color: rgb(220, 20, 60);
}
/*-Media-Queries-*/

/*-For-desktop-resolutions-and-above-*/
@media screen and (min-width: 1440px) {
    
}