/*-Fonts-link-*/
@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@600&family=Poppins:wght@400;500;600&display=swap');
/*-Color-variables-*/
:root {
    /* using : color: var(--crimson-color); */
    --crimson-color: rgb(220, 20, 60);
    --white-color: rgb(255, 255, 255);
    --gold-color: rgb(218, 172, 0);
    --banana-color: rgb(252, 195, 2);
    --turquoise-color: rgb(0, 190, 201);
    --black-color: rgb(0, 0, 0);
    --lightblack-color: rgb(49, 50, 67);
    --gray-color: rgb(52, 52, 52);
    --lightgray-color: rgb(214, 214, 214);
    --gold-color-transparent: rgba(218, 172, 0, 0.9);
}
/*-Images-max-size-*/
.rectangle-image {
    max-width: 419px;
    max-height: 604px;
}
.square-image {
    max-width: 506px;
    max-height: 480px;
}
.card-image {
    max-width: 342px;
    max-height: 353px;
}
.doctor-card-image {
    max-width: 361px;
    max-height: 351px;
}
/*-Specific-images-*/
#heart-image {
    max-width: 102px;
    max-height: 89px;
}
#stethoscope-image {
    max-width: 75px;
    max-height: 88px;
}
#syringe-image {
    max-width: 90px;
    max-height: 90px;
}
#logotype-image {
    max-width: 212px;
    max-height: 56px;
}